# 自动添加的忽略项
infer_tmp
output
onnx/*
pt/*
qnn_out/*
!qnn_out/.gitkeep
qnn_proc/source*
qnn_proc/source_raw*
val/*
source_raw*.txt
__pycache__/
.vscode
*.zip
yolov5/runs/*
val_*
val_*/*
infer_*.sh
!infer_batch.sh
img2raw_*.py
main_infer_*.py
*.bak
val2508
val12
*_bak*
testdata
*.log
logs/*
rtdetr.py
.pre-commit-config.yaml